<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" href="/static/css/cart.css">
</head>

<body>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <header>
        <nav class="navigation__bar">
            <a class="nav__link" href="/all-products">Все товары</a>
            <a class="nav__link" href="/cart">Корзина</a>
            <a class="nav__link" href="/all-orders">Заказы</a>
            <a class="nav__link" >Профиль</a>
        </nav>
    </header>
    <h1>Корзина</h1>
    <div class="content">

    </div>
    <p>Всего <span class="span__total__quantity">0</span> товаров на <span class="span__total__price">0</span> рублей</p>

    <button class="button__proceed__to__checkout">К оформлению заказа</button>
    <script type="text/javascript" src="/static/js/cart.js"></script>
</body>
</html>