<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Войти в аккаунт</title>
</head>
<body>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>

    <p>Войти в аккаунт</p>
    <div class="">

        <label for="email">Адрес электронной почты:</label>
        <input type="text" id="email" class="input__email"/>
        <br/>

        <label for="password">Пароль:</label>
        <input type="text" id="password" class="input__password"/>
        <br/>

        <button type="submit" class="button__register">Войти</button>
        <p class="text__server__respose" style="display: none">Value</p>

    </div>

    <a href="register" class="link__login" style="margin-top: 10px;">Нет аккаунта? Зарегистрироваться</a>

    <script type="text/javascript" src="/static/js/login.js"></script>
</body>
</html>