<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Создать аккаунт</title>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<p>Создать новый аккаунт</p>
	<div class="">
	
		<label for="login">Логин (имя пользователя):</label>
		<input type="text" id="login" class="input__login"/>
		<br/>
				
		<label for="password">Пароль:</label>
		<input type="text"  id="password" class="input__password"/>
		<br/>
		
		<label for="passwordConfirm">Подтвердите пароль:</label>
		<input type="text" id="passwordConfirm" class="input__password__confirm"/>
		<br/>

		<button type="submit" class="button__register">Зарегистрировать</button>
		<p class="text__server__respose" style="display: none">Value</p>

	</div>

	<a href="login" class="link__login" style="margin-top: 10px;">Уже есть аккаунт? Войти</a>

	<script type="text/javascript" src="js/register.js"></script>
</body>
</html>